<h1>About</h1>

<%= link_to("Home",{:action => "home"})%>

<h3>Designed and developed by Udaya Prakash </h3>
<a href="http://www.facebook.com/udprakash">Find me on Facebook</a><br>
<a href="http://www.twitter.com/udprakash">Find me on Twitter</a><br>

<p>Contact me at ud@thetraces.com</p>


